{
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "prefer-const": 2,
    },
  },
  "env": {
   "browser": "true",
   "es6": true,
   "commonjs": true,
  },
  "plugins": ["react"]
  "rules": {
    "curly": [2, "multi-line"],
    "jsx-quotes": [2, "prefer-double"],
    "no-shadow": 0,
    "no-trailing-spaces": 0,
    "no-undef": 2,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 0,
    "no-unused-vars": 2,
    "object-curly-spacing": [2, "always"],
    "quotes": [2, "single", "avoid-escape"],
    "semi": 2,
    "strict": 0
  }
}
